<!doctype html>
<html lang="">
<head>
  <meta charset="utf-8">
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>
    My Grunt tasks cheatsheet
  </title>
  <link rel="apple-touch-icon" href="apple-touch-icon.png">
</head>
<body>
<div class="gtc-wrapper">
  <section class="gtc-sidebar" id="gtc-tasks-list-wrapper">
    <div class="gtc-sidebar-app-logo">
      <img src="images/applogo.png" class="" alt="My Grunt tasks cheatsheet" title="My Grunt tasks cheatsheet"/>
    </div>
    <div class="gtc-tasks-amount"></div>
    <ul id="gtc-task-list">
      <li id="gtc-new-task-btn">
        New task
      </li>
    </ul>
  </section>
  <section class="gtc-main" id="gtc-main">
    <div class="gtc-main-app-info">
      <div class="gtc-main-app-logo">
        <img src="images/applogo.png" class="" alt="My Grunt tasks cheatsheet" title="My Grunt tasks cheatsheet"/>
      </div>
      <div class="gtc-main-app-desc">
        <p>

        </p>
      </div>
    </div>
    <div id="gtc-task-form-wrapper">

    </div>
  </section>
</div>

<script type="text/template" id="gtc-task-tpl">
  <li class="gtc-task">
        <span>
          <%= taskName %>
        </span>
  </li>
</script>

<script type="text/template" id="gtc-task-form-tpl">
  <div class="">
    <label for="gtc-task-name"> Task name </label>
    <input type="text" class="" id="gtc-task-name" placeholder="<%= taskName %>"/>
  </div>
  <div class="">
    <label for="gtc-task-type-select">
      Task type
    </label>
    <select class="" id="gtc-task-type-select">
      <option value="0">
        Dev
      </option>
      <option value="1">
        Dist
      </option>
      <option value="2">
        Other
      </option>
    </select>
  </div>
  <div class="">
    <label for="gtc-task-desc">
      Task description
    </label>
          <textarea id="gtc-task-desc">
          </textarea>
  </div>

  <div class="gtc-task-save-btn-wrapper">
    <button id="gtc-task-save-btn">
      Save Grunt Task
    </button>
  </div>

</script>

<script type="text/template" id="gtc-total-tasks-tpl">
  <span id="gtc-total-tasks">
        <strong><%= tasks_amount %> tasks </strong>
      </span>
</script>


<script src="vendors/jquery/dist/jquery.min.js"></script>
<script src="vendors/underscore/underscore-min.js"></script>
<script src="vendors/backbone/backbone.js"></script>
<script src="vendors/backbone.localStorage/backbone.localStorage.js"></script>
<script src="scripts/models/gruntTask.js"></script>
<script src="scripts/collections/gruntTasks.js"></script>
<script src="scripts/views/gruntTaskListItem.js"></script>
<script src="scripts/views/gruntTasksListView.js"></script>

<script src="scripts/views/gruntTaskForm.js"></script>

<script src="scripts/main.js"></script>
</body>
</html>
